ui-tienda/src/conf/xml-resources/web-service-references/endpoints/wsdl/localhost_8080/endpoints/endpoints.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.store.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.store.com/">

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="createOrden" type="tns:createOrden"/>

<xs:element name="createProducto" type="tns:createProducto"/>

<xs:element name="create_cliente_dto" type="tns:create_cliente_dto"/>

<xs:element name="editOrden" type="tns:editOrden"/>

<xs:element name="editProducto" type="tns:editProducto"/>

<xs:element name="edit_cliente_dto" type="tns:edit_cliente_dto"/>

<xs:element name="findAllOrden" type="tns:findAllOrden"/>

<xs:element name="findAllOrdenResponse" type="tns:findAllOrdenResponse"/>

<xs:element name="findAllProducto" type="tns:findAllProducto"/>

<xs:element name="findAllProductoResponse" type="tns:findAllProductoResponse"/>

<xs:element name="findAll_cliente" type="tns:findAll_cliente"/>

<xs:element name="findAll_clienteResponse" type="tns:findAll_clienteResponse"/>

<xs:element name="orden" type="tns:orden"/>

<xs:element name="producto" type="tns:producto"/>

<xs:element name="removeOrden" type="tns:removeOrden"/>

<xs:element name="removeProducto" type="tns:removeProducto"/>

<xs:element name="remove_cliente_dto" type="tns:remove_cliente_dto"/>

<xs:complexType name="editProducto">
<xs:sequence>
<xs:element ref="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit_cliente_dto">
<xs:sequence>
<xs:element name="cliente" type="tns:clienteDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clienteDto">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeOrden">
<xs:sequence>
<xs:element ref="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orden">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="idOrden" type="xs:int" minOccurs="0"/>
<xs:element name="idProducto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove_cliente_dto">
<xs:sequence>
<xs:element name="cliente" type="tns:clienteDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createOrden">
<xs:sequence>
<xs:element ref="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll_cliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAll_clienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create_cliente_dto">
<xs:sequence>
<xs:element name="cliente" type="tns:clienteDto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProducto">
<xs:sequence>
<xs:element ref="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editOrden">
<xs:sequence>
<xs:element ref="tns:orden" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrden">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrdenResponse">
<xs:sequence>
<xs:element name="return" type="tns:orden" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProducto">
<xs:sequence>
<xs:element ref="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>