ui-tienda/web/WEB-INF/wsdl/localhost_8080/endpoints/endpoints.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.store.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.store.com/" name="endpoints">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.store.com/" schemaLocation="http://localhost:8080/endpoints/endpoints?xsd=1"/>
</xsd:schema>
</types>
<message name="editProducto">
<part name="parameters" element="tns:editProducto"/>
</message>
<message name="findAllProducto">
<part name="parameters" element="tns:findAllProducto"/>
</message>
<message name="findAllProductoResponse">
<part name="parameters" element="tns:findAllProductoResponse"/>
</message>
<message name="edit_cliente_dto">
<part name="parameters" element="tns:edit_cliente_dto"/>
</message>
<message name="findAllOrden">
<part name="parameters" element="tns:findAllOrden"/>
</message>
<message name="findAllOrdenResponse">
<part name="parameters" element="tns:findAllOrdenResponse"/>
</message>
<message name="create_cliente">
<part name="parameters" element="tns:create_cliente"/>
</message>
<message name="createOrden">
<part name="parameters" element="tns:createOrden"/>
</message>
<message name="removeProducto">
<part name="parameters" element="tns:removeProducto"/>
</message>
<message name="edit_cliente">
<part name="parameters" element="tns:edit_cliente"/>
</message>
<message name="createProducto">
<part name="parameters" element="tns:createProducto"/>
</message>
<message name="removeOrden">
<part name="parameters" element="tns:removeOrden"/>
</message>
<message name="findAll_cliente">
<part name="parameters" element="tns:findAll_cliente"/>
</message>
<message name="findAll_clienteResponse">
<part name="parameters" element="tns:findAll_clienteResponse"/>
</message>
<message name="editOrden">
<part name="parameters" element="tns:editOrden"/>
</message>
<message name="remove_cliente">
<part name="parameters" element="tns:remove_cliente"/>
</message>
<message name="remove_cliente_dto">
<part name="parameters" element="tns:remove_cliente_dto"/>
</message>
<portType name="endpoints">
<operation name="editProducto">
<input wsam:Action="http://ws.store.com/endpoints/editProducto" message="tns:editProducto"/>
</operation>
<operation name="findAllProducto">
<input wsam:Action="http://ws.store.com/endpoints/findAllProductoRequest" message="tns:findAllProducto"/>
<output wsam:Action="http://ws.store.com/endpoints/findAllProductoResponse" message="tns:findAllProductoResponse"/>
</operation>
<operation name="edit_cliente_dto">
<input wsam:Action="http://ws.store.com/endpoints/edit_cliente_dto" message="tns:edit_cliente_dto"/>
</operation>
<operation name="findAllOrden">
<input wsam:Action="http://ws.store.com/endpoints/findAllOrdenRequest" message="tns:findAllOrden"/>
<output wsam:Action="http://ws.store.com/endpoints/findAllOrdenResponse" message="tns:findAllOrdenResponse"/>
</operation>
<operation name="create_cliente">
<input wsam:Action="http://ws.store.com/endpoints/create_cliente" message="tns:create_cliente"/>
</operation>
<operation name="createOrden">
<input wsam:Action="http://ws.store.com/endpoints/createOrden" message="tns:createOrden"/>
</operation>
<operation name="removeProducto">
<input wsam:Action="http://ws.store.com/endpoints/removeProducto" message="tns:removeProducto"/>
</operation>
<operation name="edit_cliente">
<input wsam:Action="http://ws.store.com/endpoints/edit_cliente" message="tns:edit_cliente"/>
</operation>
<operation name="createProducto">
<input wsam:Action="http://ws.store.com/endpoints/createProducto" message="tns:createProducto"/>
</operation>
<operation name="removeOrden">
<input wsam:Action="http://ws.store.com/endpoints/removeOrden" message="tns:removeOrden"/>
</operation>
<operation name="findAll_cliente">
<input wsam:Action="http://ws.store.com/endpoints/findAll_clienteRequest" message="tns:findAll_cliente"/>
<output wsam:Action="http://ws.store.com/endpoints/findAll_clienteResponse" message="tns:findAll_clienteResponse"/>
</operation>
<operation name="editOrden">
<input wsam:Action="http://ws.store.com/endpoints/editOrden" message="tns:editOrden"/>
</operation>
<operation name="remove_cliente">
<input wsam:Action="http://ws.store.com/endpoints/remove_cliente" message="tns:remove_cliente"/>
</operation>
<operation name="remove_cliente_dto">
<input wsam:Action="http://ws.store.com/endpoints/remove_cliente_dto" message="tns:remove_cliente_dto"/>
</operation>
</portType>
<binding name="endpointsPortBinding" type="tns:endpoints">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit_cliente_dto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edit_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editOrden">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="remove_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="remove_cliente_dto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="endpoints">
<port name="endpointsPort" binding="tns:endpointsPortBinding">
<soap:address location="http://localhost:8080/endpoints/endpoints"/>
</port>
</service>
</definitions>